pakistan-earthquake-simple.json
[
    {
        "id": "earthquake_tab",
        "type": "tab",
        "label": "Pakistan Earthquakes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "earthquake_tab",
        "name": "Fetch Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "http1"
            ]
        ]
    },
    {
        "id": "http1",
        "type": "http request",
        "z": "earthquake_tab",
        "name": "USGS API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2015-01-01&endtime=2025-12-28&minlatitude=23.5&maxlatitude=37.5&minlongitude=60.5&maxlongitude=77.5&minmagnitude=6.0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "function1",
                "debug1"
            ]
        ]
    },
    {
        "id": "function1",
        "type": "function",
        "z": "earthquake_tab",
        "name": "Transform Data",
        "func": "const earthquakes = msg.payload.features || [];\nconst transformed = [];\n\nfor (let eq of earthquakes) {\n    transformed.push({\n        _id: eq.id,\n        magnitude: eq.properties.mag,\n        location: eq.properties.place,\n        time: new Date(eq.properties.time),\n        depth_km: eq.geometry.coordinates[2],\n        latitude: eq.geometry.coordinates[1],\n        longitude: eq.geometry.coordinates[0],\n        url: eq.properties.url\n    });\n}\n\nmsg.payload = transformed;\nreturn msg;",
        "outputs": 1,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "split1"
            ]
        ]
    },
    {
        "id": "split1",
        "type": "split",
        "z": "earthquake_tab",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "373c6fc535fccccb"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "earthquake_tab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "373c6fc535fccccb",
        "type": "mongodb4",
        "z": "earthquake_tab",
        "clientId": "mongo1",
        "mode": "collection",
        "collection": "earthquakes",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "upsert": true,
        "query": "{\"_id\": \"{{payload._id}}\"}",
        "name": "Save to MongoDB",
        "x": 840,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "mongo1",
        "type": "mongodb4-client",
        "name": "MongoDB Atlas",
        "protocol": "mongodb+srv",
        "hostname": "",
        "port": "",
        "dbName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "tlsVersion": "",
        "uriTabActive": "tab-uri-uri",
        "uri": "mongodb+srv://artariqdev_db_user:bzVAE4JSjAEPUN0g@psifi.mc6xmgg.mongodb.net/?appName=psifi",
        "advanced": "{\"defaultDbName\":\"pakistan_earthquakes\"}"
    },
    {
        "id": "6af85437a26defab",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.3.0"
        }
    }
]