rednode.json
[
    {
        "id": "8683b9706cc1f247",
        "type": "tab",
        "label": "Pakistan Earthquakes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mongo1",
        "type": "mongodb4-client",
        "name": "MongoDB Atlas",
        "protocol": "mongodb+srv",
        "hostname": "",
        "port": "",
        "dbName": "",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "30000",
        "minPoolSize": "",
        "maxPoolSize": "",
        "maxIdleTimeMS": "",
        "uri": "mongodb+srv://artariqdev_db_user:bzVAE4JSjAEPUN0g@psifi.mc6xmgg.mongodb.net/?appName=psifi",
        "advanced": "",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "9c217fbbc221f224",
        "type": "inject",
        "z": "8683b9706cc1f247",
        "name": "Fetch Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "d5d1fde5fba52e1d"
            ]
        ]
    },
    {
        "id": "eb46e5e7cd1ed6ab",
        "type": "http request",
        "z": "8683b9706cc1f247",
        "name": "USGS API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://earthquake.usgs.gov/fdsnws/event/1/query",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "598b7d5bb86f4acd",
                "87d706fc8ba8f1b7"
            ]
        ]
    },
    {
        "id": "598b7d5bb86f4acd",
        "type": "function",
        "z": "8683b9706cc1f247",
        "name": "Transform Data",
        "func": "const earthquakes = msg.payload.features || [];\nconst transformed = [];\n\nfor (let eq of earthquakes) {\n    transformed.push({\n        _id: eq.id,\n        magnitude: eq.properties.mag,\n        location: eq.properties.place,\n        time: new Date(eq.properties.time),\n        depth_km: eq.geometry.coordinates[2],\n        latitude: eq.geometry.coordinates[1],\n        longitude: eq.geometry.coordinates[0],\n        url: eq.properties.url\n    });\n}\n\nmsg.payload = transformed;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "cb1f580f35d94677"
            ]
        ]
    },
    {
        "id": "cb1f580f35d94677",
        "type": "split",
        "z": "8683b9706cc1f247",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 950,
        "y": 240,
        "wires": [
            [
                "23f9f81d6867e803"
            ]
        ]
    },
    {
        "id": "b4c425643a882281",
        "type": "mongodb4",
        "z": "8683b9706cc1f247",
        "clientNode": "mongo1",
        "mode": "collection",
        "collection": "earthquakes",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Save to MongoDB",
        "x": 1510,
        "y": 240,
        "wires": [
            [
                "87d706fc8ba8f1b7"
            ]
        ]
    },
    {
        "id": "23f9f81d6867e803",
        "type": "function",
        "z": "8683b9706cc1f247",
        "name": "Make document with query",
        "func": "const data = msg.payload;\n\nmsg.payload = [\n    { _id: data._id }, \n    {                   \n        $setOnInsert: {\n            _id: data._id,\n            magnitude: data.magnitude,\n            location: data.location,\n            time: data.time,\n            depth_km: data.depth_km,\n            latitude: data.latitude,\n            longitude: data.longitude,\n            url: data.url\n        }\n    },\n    { upsert: true }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 240,
        "wires": [
            [
                "b4c425643a882281"
            ]
        ]
    },
    {
        "id": "d5d1fde5fba52e1d",
        "type": "function",
        "z": "8683b9706cc1f247",
        "name": "function 1",
        "func": "const endtime = new Date(Date.now()).toISOString().slice(0, 10)\nmsg.payload ={\n    format: \"geojson\",\n    starttime: \"2000-01-01\",\n    endtime,\n    minlatitude:23,\n    maxlatitude: 37.5,\n    minlongitude: 60.5,\n    maxlongitude: 77.5,\n    minmagnitude: 5.0\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "eb46e5e7cd1ed6ab",
                "87d706fc8ba8f1b7"
            ]
        ]
    },
    {
        "id": "87d706fc8ba8f1b7",
        "type": "debug",
        "z": "8683b9706cc1f247",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 340,
        "wires": []
    },
    {
        "id": "6cb756999262f209",
        "type": "http in",
        "z": "8683b9706cc1f247",
        "name": "Endpoint",
        "url": "/api/allEarthquakes",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "f23da8239b3e03e3"
            ]
        ]
    },
    {
        "id": "4b418a603528df22",
        "type": "mongodb4",
        "z": "8683b9706cc1f247",
        "clientNode": "mongo1",
        "mode": "collection",
        "collection": "earthquakes",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "MongoDB",
        "x": 560,
        "y": 500,
        "wires": [
            [
                "87459e5948af7de4",
                "33fb905a4c9ebc11"
            ]
        ]
    },
    {
        "id": "71dfc6be271a9984",
        "type": "http response",
        "z": "8683b9706cc1f247",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "87459e5948af7de4",
        "type": "function",
        "z": "8683b9706cc1f247",
        "name": "format response",
        "func": "   msg.statusCode = 200;\n   msg.headers = {\n       'Content-Type': 'application/json',\n       'Access-Control-Allow-Origin': '*'\n   };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 500,
        "wires": [
            [
                "71dfc6be271a9984"
            ]
        ]
    },
    {
        "id": "f23da8239b3e03e3",
        "type": "function",
        "z": "8683b9706cc1f247",
        "name": "request",
        "func": "// Parse query parameters from Grafana\nconst query = msg.req.query || {};\nlet mongoQuery = {};\n\n// If Grafana sends time range parameters\nif (query.from && query.to) {\n    // Grafana sends timestamps in milliseconds\n    const fromDate = new Date(parseInt(query.from));\n    const toDate = new Date(parseInt(query.to));\n    \n    // Compare as Date objects, not strings\n    mongoQuery.time = {\n        $gte: fromDate,\n        $lte: toDate\n    };\n}\n\nmsg.payload = [mongoQuery];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 500,
        "wires": [
            [
                "4b418a603528df22",
                "33fb905a4c9ebc11"
            ]
        ]
    },
    {
        "id": "33fb905a4c9ebc11",
        "type": "debug",
        "z": "8683b9706cc1f247",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "abaa031cecc9dac8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.3.0"
        }
    }
]